:host {
  display: block;
}

div {
  padding: 10px;
}

div.title {
  padding: 0 10px;
  border-bottom: 1px solid #aaa;
  height: 35px;
}

div.content {
  min-height: 200px;
}

div.footer {
  border-top: 1px solid #aaa;
}
