<div class="content">
  <div>
    <span [ngClass]="contentClass">{{ task.id }}. {{ task.content }}</span>
    <span
      class="type"
      [class.home]="task.type === 'Home'"
      [class.work]="task.type === 'Work'"
      [class.other]="task.type === 'Other'"
    >
      {{ task.type }}
    </span>
    <span> - 開始日期：{{ startDate }} / 完成日期：{{ finishDate }}</span>
  </div>
  <div [ngSwitch]="task.state">
    <span *ngSwitchCase="'Doing'">進行中</span>
    <span *ngSwitchCase="'Finish'">已完成</span>
    <span *ngSwitchDefault>位安排</span>
  </div>
</div>
<div class="button">
  <button
    type="button"
    [disabled]="task.state === 'None'"
    (click)="onSetState('None')"
  >
    未安排
  </button>
  <button
    type="button"
    [disabled]="task.state === 'Doing'"
    (click)="onSetState('Doing')"
  >
    進行中
  </button>
  <button
    type="button"
    [disabled]="task.state === 'Finish'"
    (click)="onSetState('Finish')"
  >
    已完成
  </button>
</div>
