:host{
  display: block;
  border: solid 1px black;
  padding: 10px 15px;
}

:host(.odd){
  background-color:  #ccc;
}

:host-context(.small) {
  font-size: 10pt;
  width: 450px;
}

button:not(:last-child) {
  margin-right: 0.5em;
}

.home {
  color: red;
}
.work {
  color: blue;
}
.other {
  color: green;
}
