<app-page-container>
  <h3 #title>待辦事項清單</h3>
  <div page-button>
    <button #button>新增</button>
    <button #button>查詢</button>
  </div>
  <app-task
    class="odd"
    [task]="task"
    (stateChange)="onSetState(task, $event)"
  ></app-task>
  <app-task
    [task]="task_2"
    (stateChange)="onSetState(task_2, $event)"
  ></app-task>
  <app-task
    class="odd"
    [task]="task_3"
    (stateChange)="onSetState(task_3, $event)"
  ></app-task>
  <br />
  <div class="small">
    <app-task [task]="task" (stateChange)="onSetState(task, $event)"></app-task>
  </div>
  <div class="footer">
    <div>待辦事項總數：{{ totalCount }}</div>
    <div>已完成個數：{{ finishCount }}</div>
    <div>剩下待辦事項個數：{{ totalCount - finishCount }}</div>
  </div>
</app-page-container>
